accelerate
aioboto3
aiohttp

# database packages
graspologic
hnswlib
nano-vectordb
neo4j
nest_asyncio
networkx
ollama
openai
oracledb
pygments
pyvis
tenacity
# lmdeploy[all]

# LLM packages
tiktoken
torch
transformers
tree-sitter==0.21.3
tree_sitter_languages==1.10.2
xxhash
anthropic
