accelerate
aioboto3
aiohttp
anthropic

# database packages
graspologic
gremlinpython
hnswlib
nano-vectordb
neo4j
nest_asyncio
networkx
ollama
openai
oracledb
pygments
psycopg[binary,pool]
pymilvus
pymongo
pymysql
pyvis
qdrant-client
supabase
tenacity
# lmdeploy[all]
sqlalchemy
tenacity


# LLM packages
tiktoken
torch
transformers
tree-sitter==0.21.3
tree_sitter_languages==1.10.2
voyageai
xxhash
