accelerate
aioboto3
aiohttp
anthropic
ast-grep-py

# database packages
graspologic
gremlinpython
hnswlib
nano-vectordb
neo4j
nest_asyncio
networkx
ollama
openai
oracledb
psycopg[binary,pool]
pygments
pymilvus
pymongo
pymysql
pyvis
PyYAML
qdrant-client
# lmdeploy[all]
sqlalchemy
supabase
tenacity


# LLM packages
tiktoken
torch
transformers
tree-sitter==0.21.3
tree_sitter_languages==1.10.2
voyageai
xxhash
